.custom-shadow {
  box-shadow: 0 4px 8px green; 
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
  color: white;
  font-size: 24px;
}

.navbar {
  background-color: transparent;
}

.navbar-nav {
  margin: auto;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-nav .nav-link {
  color: black;
}

.navbar-nav .nav-link:hover {
  color: #28a745; 
}

.content img {
  width: 100%;
  max-width: 200px;
  height: 120px;
  object-fit: cover;
}

.content div {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 20px; /* Adjust margin */
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: 180px;
  width: 200px;
}

.content h2 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  color: black;
}

#para {
  color: white;
}

.content p {
  font-size: 12px;
  color: black;
}

.content div:hover {
  border-color: #4CAF50;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.container .content {
  position: relative;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
}

.container .content h2 {
  margin-bottom: 10px;
}

/* Center the dynamically generated result items */
.list-down .content_dynamic {
  display: flex;
  justify-content: center;
}

/* Style for the dynamically generated result items */
.result-item {
  margin: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: 180px;
  width: 200px;
  text-align: center;
}

.result-item:hover {
  border-color: #4CAF50;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
